<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<main>
    <!-- Sección Hero -->
    <section class="hero-section">
        <div class="container">
            <h1 class="hero-title">Líder en innovación y</h1>
            <h1 class="hero-subtitle">TECNOLÓGICA</h1>
            <p class="hero-description">Soluciones que transforman y te ayudan a crecer</p>
            <a class="btn btn-custom" asp-controller="Contacto" asp-action="Index" target="_blank">Contáctenos</a>
        </div>
    </section>

    <!-- Sección Mejoramos Tu Negocio -->
    <section class="container">
        <div class="divider"></div>
        <h2 class="section-title">Mejoramos Tu Negocio</h2>

        <div class="row card-section">
            <!-- Tarjeta 1 -->
            <div class="col-md-4 mb-4">
                <div class="card border-0">
                    <img src='/img/alianzas.jpg'
                         class="card-image"
                         alt="A man stands in front of a wall filled with creative ideas and plans. Ideal for innovation themes.">
                    <div class="card-text">
                        <p class="mb-0">Alianzas estratégicas para resultados satisfactorios</p>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 2 -->
            <div class="col-md-4 mb-4">
                <div class="card border-0">
                    <img src="https://www.sistemasanaliticos.cr/wp-content/uploads/2025/08/985566.jpg"
                         class="card-image"
                         alt="985566">
                    <div class="card-text">
                        <p class="mb-0">Las últimas innovaciones y diseños para impulsar tu negocio hacia el futuro</p>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 3 -->
            <div class="col-md-4 mb-4">
                <div class="card border-0">
                    <img src='/img/soporte.jpg'
                         class="card-image"
                         alt="businessman, consulting, business, meeting, conference, meet, parley, conversation, convention, colloquium, reading, success, team, teamwork, profit, marketing, plan, innovation, sale, goals, strategy, customer, buyer, seller, support, help, performance, options, ideas, can, competence, presentation, businessman, consulting, consulting, consulting, consulting, consulting, meeting, meeting, meeting, meeting, success, team, team, marketing, marketing, marketing, innovation, customer, customer, customer, support, support, help, help, presentation">
                    <div class="card-text">
                        <p class="mb-0">Soluciones que transforman y te ayudan a crecer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Enfoque -->
    <section class="focus-section">
        <div class="container">
            <p class="focus-text">
                Nuestro enfoque en soluciones financieras de autoservicio nos permite optimizar la sucursal y trasladar las transacciones al canal de cajeros automáticos con tecnología innovadora y digital de la mano con
                <strong>NCR ATLEOS</strong>
            </p>
        </div>
    </section>

    <!-- Sección Premio -->
    <section class="award-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h4 class="focus-text">Sistemas Analíticos consolida su liderazgo en Latinoamérica con el premio Partner of the Year LATAM</h4>
                    <div class="text-center">
                        <p>Sistemas Analíticos fue reconocido con el premio <em>Partner of the Year LATAM</em> por NCR Atleos, un galardón que destaca la innovación, compromiso y excelencia en la implementación de soluciones tecnológicas en la región. Este reconocimiento consolida a la empresa como un socio estratégico clave en Latinoamérica, reafirmando su liderazgo y capacidad para generar valor a sus clientes a través de la transformación digital.</p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-center">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/QiPQ6S-_VoA?si=o0LPnfrsyCZPYh-d"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>